<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        lang="en">
<head>
    <title>Page not found</title>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<div class="general_view">
    <form class="title">
        <h2>ОЙ! Какая жаль!</h2>
    </form>
    <div class="back">
        <img th:src="@{/images/ping.jpg}" th:alt="Oops">
        <p>Мискузи, сыр, такой страницы у нас нет.
            <br />
            Но Вы можете вернуться к себе на страницу.
        </p>
        <form th:action="@{/user}" method="get">
            <button type="submit">Пожалуй, да</button>
        </form>
    </div>
</div>
</body>
</html>